*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*
==================================================================
Hero Section
==================================================================
*/

.hero-section {
  background-color: #f3eed9;
  text-align: center;
}

.hero-content-box {
  padding-top: 5em;
  padding-bottom: 5em;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  color: #824936;
}

.hero-subtitle {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.6em;
  margin-bottom: 0.5rem;
}

@media (min-width: 900px) {
  .hero-content-box {
    width: 70%;
    margin: 0 auto;
    padding-top: 15em;
    padding-bottom: 15em;
  }
}

/*
==================================================================
Main Top Section
==================================================================
*/

.main-top-content-box {
  padding: 3em 2em 2em 2em;
}

.main-top-title-box {
  text-align: center;
  margin-bottom: 1.5em;
}

.main-top-title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  color: #824936;
}

.main-top-paragraph {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.3125rem;
  line-height: 2rem;
}

@media (min-width: 900px) {
  .main-top-content-box {
    padding-top: 5em;
    padding-bottom: 7em;
  }

  .main-top-title-box {
    text-align: center;
    margin-bottom: 1em;
  }

  .main-top-paragraph-box {
    display: flex;
    justify-content: space-around;
  }

  .main-top-paragraph {
    width: 45%;
  }
}

/*
==================================================================
Main Middle Section
==================================================================
*/

.main-middle {
  padding: 2em 2em 3em 2em;
  background-color: #222c2a;
}

.main-middle-right-img {
  width: 100%;
}

.main-middle-left-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #f3eed9;
  margin-bottom: 0.7em;
}

.main-middle-left-paragraph {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.3125rem;
  line-height: 2rem;
  color: #ffffff;
}

@media (min-width: 900px) {
  .main-middle {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .main-middle-content-box {
    display: flex;
    justify-content: space-around;
  }

  .main-middle-left-title {
    font-size: 2.25rem;
  }

  .main-middle-left {
    width: 45%;
  }

  .main-middle-right {
    width: 45%;
  }
}

/*
==================================================================
Main Bottom Section
==================================================================
*/

.main-bottom {
  padding: 2em 2em 3em 2em;
  background-color: #824936;
}

.main-bottom-left-img {
  width: 100%;
}

.main-bottom-right-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #f3eed9;
  margin-bottom: 0.7em;
}

.main-bottom-right-paragraph {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.3125rem;
  line-height: 2rem;
  color: #ffffff;
}

@media (min-width: 900px) {
  .main-bottom {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .main-bottom-content-box {
    display: flex;
    justify-content: space-around;
  }

  .main-bottom-right-title {
    font-size: 2.25rem;
  }

  .main-bottom-left {
    order: 1;
    width: 45%;
  }

  .main-bottom-right {
    order: 2;
    width: 45%;
  }
}
